In [1]:
# import library
import pandas as pd
import re

In [2]:
# import data
excel_file_path = 'Data_Transaksi_2023(terbaru).xlsx'
excel_sheets = pd.read_excel(excel_file_path, sheet_name=None)
excel_sheets

{'Januari':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.301011e+12          MADU NSTR SUPER 650ML.    1
 1              NaN  STELLA MTC F/C 225ML.REF   /12    1
 2              NaN              GELAS KOPI BOLA@50    2
 3              NaN                      MIKA BX IV    3
 4     2.301011e+12  LAGIE GOLD CM 75G.W/30 LG07507    2
 ...            ...                             ...  ...
 2240           NaN    RINSO MOLTO ROSE FRESH 1.8KG    1
 2241           NaN             KRESEK 35/0.02  /50    3
 2242           NaN    VANISH 425ML.REFILL /12 220K    1
 2243           NaN         ULTRA MILK PLN 250ML/24    4
 2244           NaN   SARI ROTI TAWAR JUMBO SPECIAL    1

 [2245 rows x 3 columns],
 'Februari':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.302011e+12                 CLEO  6LT.GALON    1
 1     2.302011e+12         KUNYIT ASAM JAWA 350 ML    1
 2     2.302011e+12  FRESCO KOPI+GULA@10        /12    2
 3              NaN  LE MINERALE 600ML/24    351504    1
 4              NaN  CIPTADENT PG COM 190G.24-10507    1
 ...            ...                             ...  ...
 1544           NaN  BELLA SPREAD 330G CRUNCHY MALT    1
 1545           NaN            MOCHI COTTON BUD@120    1
 1546           NaN  MAMASUKA NORI@2 ORI/40 DA18027    1
 1547           NaN         TAWAR KTK.PTH.TOK10.000    1
 1548           NaN                 BOX BAG 30X40X9    1

 [1549 rows x 3 columns],
 'Maret':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.303011e+12      SARI ROTI TAWAR MILKY SOFT    1
 1              NaN  CAP BADAK 320ML.LECI       /24    1
 2              NaN  YEYE STRAWBERRY 150G.      /32    1
 3              NaN  NSS GEKIKARA CARBONARA 81G./30    1
 4              NaN  AIM ROAST CORN  80G.       /30    1
 ...            ...                             ...  ...
 1843           NaN  MITU BABY REF @24+6'S BLU  /36    1
 1844           NaN              OVALE FL.200 LEMON    1
 1845           NaN  MODIS KAPAS 50G/96        1102    1
 1846           NaN  OCORN INST 40G MNIS/48    POF2    1
 1847           NaN     GOOD DAY DUET MOCA 110G.BAG    1

 [1848 rows x 3 columns],
 'April':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.304011e+12  ANTIS JASMINE T.POU.200/6.0381    2
 1              NaN  POPMIE GRG SPC.80G/12   PGSJ12    1
 2              NaN  MIE SUKSES 2 A.BWG    24-20089    1
 3              NaN     GOOD DAY DUET MOCA 110G.BAG    1
 4              NaN  NUTRIJELL GRP 10G/12/12  52204    1
 ...            ...                             ...  ...
 1522           NaN  EVANGGELINE HJB RANIA 100ML/36    1
 1523  2.304301e+12  CHITATO INDOMIE GRG/30 CTFRN68    1
 1524           NaN  MONTISS TISSU 250S R1/48.20250    2
 1525           NaN  ABC MILK COFFE 200ML/24 7701F1    2
 1526  2.304301e+12  EVEREADY 1215 AA@12 HK. EV2-04    1

 [1527 rows x 3 columns],
 'Mei':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.305011e+12  SELAMAT WFR CHO. 15G/20/6.101M   20
 1              NaN  CHOCOLATOS WS.7G/288     WCG4A   24
 2              NaN  INDOMIE SOTO LAMONGAN/40  ISLR    1
 3              NaN  INDOMIE GRG A.GEPREK/40   IHAG    2
 4              NaN  WARDAH LGT PFCT BRGT CRM 20/36    1
 ...            ...                             ...  ...
 1954  2.305301e+12                     AQUA 1500ML    1
 1955           NaN  TUJUH KURMA CHRINK W.189/12.08    2
 1956  2.305301e+12  NICE SOFT PACK@200/20    .1345    1
 1957           NaN  CUSSON WIPES F&N 50'S      /18    1
 1958           NaN         ALLMED WET TISSUE @50'S    1

 [1959 rows x 3 columns],
 'Juni':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.306011e+12  LISTERINE TARTAR C 250  JPAE02    1
 1              NaN   ELLIPS H/MASK HAIR REPAIR 18G    1
 2              NaN  LUCIDO HAIR VIT SPRAY 200ML DR    1
 3     2.306011e+12  ABC CHOCOMALT COF.200ML    /24    1
 4              NaN  POTABEE MELT CHEESE 57G.-20163    1
 ...            ...                             ...  ...
 1762           NaN             ABC SARD TOMAT 425G    1
 1763           NaN  GANGSAR 95-B 140G          /20    2
 1764  2.306301e+12    SENSODYNE PG MULTI ACT 100GR    1
 1765           NaN  PEPSODENT SG SIWAK         /48    1
 1766           NaN  BANGO KCP 135ML/48    68211853    1

 [1767 rows x 3 columns],
 'Juli':       NO.TRANSAKSI                     DESCRIPTION  QTY
 0     2.307011e+12          NABATI RICHOCO WC.287G    1
 1     2.307011e+12  BERAS UDUK 3KG.            /10    1
 2              NaN  HARPIC KERAK CITRUS 675ML  /12    1
 3              NaN  WARDAH C-DEF E C WASH 100.1150    1
 4              NaN   FORMULA SG SPARK.WHT(S) /12/6    1
 ...            ...                             ...  ...
 2162           NaN            PANTENE SHP AD 160ML    1
 2163           NaN  NEXTAR BROWNIES C.90G/30.03145    1
 2164           NaN  PEPSODENT PG A.123 CRCO 160/48    1
 2165           NaN  HILO KACANG HIJAU 200ML    /24    1
 2166           NaN  MILO UHT 180ML.ACT.GO/36 .5324    3

 [2167 rows x 3 columns],
 'Agustus':       NO.TRANSAKSI                     DESCRIPTION QTY
 0     2.308011e+12             PUFFIES COKLAT 38G.   1
 1              NaN  SANTRI  600ML.             /24   1
 2              NaN             PUFFIES COKLAT 38G.  -1
 3     2.308011e+12   TESSA TP-11 @50 TRVL.PACK /80   2
 4              NaN  SEDAAP MIE GAB.LIMAU  40-20322   2
 ...            ...                             ...  ..
 1843  2.308311e+12  CAP LANG MTL  60ML.        /12   1
 1844           NaN  NUVO BW GREEN 250REF  12-60298   1
 1845           NaN  CAP LANG MTL  60ML.        /12  -1
 1846  2.308311e+12  NIVEA LIP C.FRUITY S.STRB.8333   1
 1847           NaN  NABATI RICHEESE W.122G/24.0077   1

 [1848 rows x 3 columns],
 'September':       NO.TRANSAKSI                     DESCRIPTION QTY
 0     2.309011e+12  CIPTADENT PG COM. 75G.72-.0505   1
 1              NaN  GENTLEGEN DET.BREEZE 700/6  BR   1
 2              NaN  GILLETTE BLUE II FLEXI     /48   1
 3              NaN  JF SULFUR A.ACNE 65G/60.100080   1
 4              NaN  ULTRA MILK TARO 200ML/24 .0914   1
 ...            ...                             ...  ..
 1820           NaN  CAP BADAK 320ML.LECI       /24   2
 1821           NaN       GOPEK TEH 80G         /50   1
 1822           NaN  YALELE JAHE SUSU 150G.     /10   1
 1823           NaN  INDOF SBL AS.MNS.135/48  SAAMP   1
 1824           NaN   BERAS AGUNG  5KG.          /8   1

 [1825 rows x 3 columns],
 'Oktober':       NO.TRANSAKSI                     DESCRIPTION QTY
 0     2.310011e+12  KAPAL API KRM KAFE 100G.   /40   2
 1     2.310011e+12  KUSUKA 180G.AYAM L.HITAM   /10   1
 2              NaN  WALENS SHOES 100G.C/30   N0932   1
 3              NaN      ROMA WAFELLO CARAMEL 130GR   1
 4     2.310011e+12              ROTI BOLU 7,0 ZAIN   3
 ...            ...                             ...  ..
 2009           NaN  MADU TJ MURNI 150G/48 P71MTM15   1
 2010           NaN  SQ BITES ALMD 35G/12  .701520U   1
 2011           NaN  KANZLER SINGLE SOSIS KEJU 60G.   1
 2012           NaN  HUKI COTT.B CI0009 50'S ZAK/12   1
 2013           NaN  SQ BITES DARK 30G/12  .713522P   1

 [2014 rows x 3 columns],
 'November':       NO.TRANSAKSI                     DESCRIPTION QTY
 0     2.311011e+12  NICE SOFT PACK@200/20    .1345   1
 1              NaN           SOSRO TEH CELUP @50/5   1
 2              NaN  SANITER WIPES 50'S         /24   1
 3              NaN  PANTENE CND 3MM TC COL 70ML/24   1
 4              NaN   SENSODYNE SG DAILY/P SOFT 1'S   1
 ...            ...                             ...  ..
 1645  2.311301e+12  KAHF FW.ENERGIZ.100ML/15 02812   1
 1646           NaN  HIT N-STOP FRSH RF@45'S .04023   1
 1647  2.311301e+12          CHEERS  600ML.GREEN/24   1
 1648           NaN  RE-BO KWACI ORIG.150G/P    /48   1
 1649           NaN  GARNIER COLOR BIG NO 7.3   /12   1

 [1650 rows x 3 columns],
 'Desember':       NO.TRANSAKSI                     DESCRIPTION QTY
 0     2.312011e+12      POP1 REGISTER ROLL 79 X 50  10
 1              NaN   PEPACO TAPE 48X90 TRANSPARANT   3
 2     2.312011e+12  CLUB 1500ML./12           3015   1
 3              NaN           SEDAAP MIE AYAM JERIT   1
 4     2.312011e+12       TORABIKA JAHE 10'S/12 RCG   1
 ...            ...                             ...  ..
 1530           NaN  INDOMIE SOTO MIE/40         SM   1
 1531           NaN  INDOMIE KARI AYAM/40       IKA   1
 1532           NaN  INDOMIE KALDU AYAM/40     KA75   3
 1533           NaN  SEDAAP MIE KOREAN SPCY40-20234   1
 1534           NaN  SUPERMI AYAM BWG/40     SPAB75   1

 [1535 rows x 3 columns]}

# **Pre-processing**

### **1. Merging Data**

In [3]:
df_list = [df for df in excel_sheets.values()]
merged_df = pd.concat(df_list, ignore_index=True)
merged_df

       NO.TRANSAKSI                     DESCRIPTION QTY
0      2.301011e+12          MADU NSTR SUPER 650ML.   1
1               NaN  STELLA MTC F/C 225ML.REF   /12   1
2               NaN              GELAS KOPI BOLA@50   2
3               NaN                      MIKA BX IV   3
4      2.301011e+12  LAGIE GOLD CM 75G.W/30 LG07507   2
...             ...                             ...  ..
21929           NaN  INDOMIE SOTO MIE/40         SM   1
21930           NaN  INDOMIE KARI AYAM/40       IKA   1
21931           NaN  INDOMIE KALDU AYAM/40     KA75   3
21932           NaN  SEDAAP MIE KOREAN SPCY40-20234   1
21933           NaN  SUPERMI AYAM BWG/40     SPAB75   1

[21934 rows x 3 columns]

### **2. Handling Missing Values**

In [4]:
merged_df['NO.TRANSAKSI'] = merged_df['NO.TRANSAKSI'].ffill()
merged_df

       NO.TRANSAKSI                     DESCRIPTION QTY
0      2.301011e+12          MADU NSTR SUPER 650ML.   1
1      2.301011e+12  STELLA MTC F/C 225ML.REF   /12   1
2      2.301011e+12              GELAS KOPI BOLA@50   2
3      2.301011e+12                      MIKA BX IV   3
4      2.301011e+12  LAGIE GOLD CM 75G.W/30 LG07507   2
...             ...                             ...  ..
21929  2.312311e+12  INDOMIE SOTO MIE/40         SM   1
21930  2.312311e+12  INDOMIE KARI AYAM/40       IKA   1
21931  2.312311e+12  INDOMIE KALDU AYAM/40     KA75   3
21932  2.312311e+12  SEDAAP MIE KOREAN SPCY40-20234   1
21933  2.312311e+12  SUPERMI AYAM BWG/40     SPAB75   1

[21934 rows x 3 columns]

### **3. Extract Features**

In [5]:
print(merged_df.dtypes)

NO.TRANSAKSI    float64
DESCRIPTION      object
QTY              object
dtype: object

In [6]:
def convert_to_datetime(transaction_no):
    if pd.isna(transaction_no):
        return None
    transaction_no = str(transaction_no)
    date_str = '20' + transaction_no[:6] 
    return pd.to_datetime(date_str, format='%Y%m%d')

merged_df['DATE'] = merged_df['NO.TRANSAKSI'].apply(convert_to_datetime)
merged_df = merged_df[['NO.TRANSAKSI', 'DATE', 'DESCRIPTION', 'QTY']]
merged_df

       NO.TRANSAKSI       DATE                     DESCRIPTION QTY
0      2.301011e+12 2023-01-01          MADU NSTR SUPER 650ML.   1
1      2.301011e+12 2023-01-01  STELLA MTC F/C 225ML.REF   /12   1
2      2.301011e+12 2023-01-01              GELAS KOPI BOLA@50   2
3      2.301011e+12 2023-01-01                      MIKA BX IV   3
4      2.301011e+12 2023-01-01  LAGIE GOLD CM 75G.W/30 LG07507   2
...             ...        ...                             ...  ..
21929  2.312311e+12 2023-12-31  INDOMIE SOTO MIE/40         SM   1
21930  2.312311e+12 2023-12-31  INDOMIE KARI AYAM/40       IKA   1
21931  2.312311e+12 2023-12-31  INDOMIE KALDU AYAM/40     KA75   3
21932  2.312311e+12 2023-12-31  SEDAAP MIE KOREAN SPCY40-20234   1
21933  2.312311e+12 2023-12-31  SUPERMI AYAM BWG/40     SPAB75   1

[21934 rows x 4 columns]

### **4. Pre-processing Text**

In [7]:
def preprocess_description(text):
    # Hapus spasi double dan teks setelahnya
    text = re.sub(r'\s{2,}.*', '', text)
    # Hapus teks setelah tanda '/'
    text = re.sub(r'/.*', '', text)
    # Hapus tanda baca
    text = re.sub(r'[^\w\s]', '', text)
    return text.strip()

merged_df["DESCRIPTION_CLEANED"] = merged_df["DESCRIPTION"].apply(preprocess_description)
merged_df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16860\591640966.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["DESCRIPTION_CLEANED"] = merged_df["DESCRIPTION"].apply(preprocess_description)

,NO.TRANSAKSI,DATE,DESCRIPTION,QTY,DESCRIPTION_CLEANED
0,2.301011e+12,2023-01-01,MADU NSTR SUPER 650ML.,1,MADU NSTR SUPER 650ML
1,2.301011e+12,2023-01-01,STELLA MTC F/C 225ML.REF /12,1,STELLA MTC F
2,2.301011e+12,2023-01-01,GELAS KOPI BOLA@50,2,GELAS KOPI BOLA50
3,2.301011e+12,2023-01-01,MIKA BX IV,3,MIKA BX IV
4,2.301011e+12,2023-01-01,LAGIE GOLD CM 75G.W/30 LG07507,2,LAGIE GOLD CM 75GW
...,...,...,...,...,...
21929,2.312311e+12,2023-12-31,INDOMIE SOTO MIE/40 SM,1,INDOMIE SOTO MIE
21930,2.312311e+12,2023-12-31,INDOMIE KARI AYAM/40 IKA,1,INDOMIE KARI AYAM
21931,2.312311e+12,2023-12-31,INDOMIE KALDU AYAM/40 KA75,3,INDOMIE KALDU AYAM
21932,2.312311e+12,2023-12-31,SEDAAP MIE KOREAN SPCY40-20234,1,SEDAAP MIE KOREAN SPCY4020234
21933,2.312311e+12,2023-12-31,SUPERMI AYAM BWG/40 SPAB75,1,SUPERMI AYAM BWG

# **Save Final Data**

In [8]:
final_df = merged_df[['NO.TRANSAKSI', 'DATE', 'DESCRIPTION_CLEANED', 'QTY']]
final_df

       NO.TRANSAKSI       DATE            DESCRIPTION_CLEANED QTY
0      2.301011e+12 2023-01-01          MADU NSTR SUPER 650ML   1
1      2.301011e+12 2023-01-01                   STELLA MTC F   1
2      2.301011e+12 2023-01-01              GELAS KOPI BOLA50   2
3      2.301011e+12 2023-01-01                     MIKA BX IV   3
4      2.301011e+12 2023-01-01             LAGIE GOLD CM 75GW   2
...             ...        ...                            ...  ..
21929  2.312311e+12 2023-12-31               INDOMIE SOTO MIE   1
21930  2.312311e+12 2023-12-31              INDOMIE KARI AYAM   1
21931  2.312311e+12 2023-12-31             INDOMIE KALDU AYAM   3
21932  2.312311e+12 2023-12-31  SEDAAP MIE KOREAN SPCY4020234   1
21933  2.312311e+12 2023-12-31               SUPERMI AYAM BWG   1

[21934 rows x 4 columns]

In [9]:
# final_df.to_excel('final_data.xlsx', index=False)